<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404</title>
    <link rel="icon" href="/images/weather-icon.png">
    <link rel="stylesheet" href="/css/styles.css">
    <script type="text/javascript" src="js/copyright.js"></script>
</head>

<body class="error-image">
    <div class="main-content">
        {{>header}}
        <p class="error-message">{{>error404}}</p>
    </div>
    
    {{>footer}}

</body>

</html>