<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="icon" href="/images/weather-icon.png">
    <link rel="stylesheet" href="/css/styles.css">
    <script type="text/javascript" src="js/copyright.js"></script>
</head>

<body>
    <div id="lucht">
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>

    <div class="main-content">
        {{>header}}
        <h2>Hi! My name is Laura and this is one of my personal projects. If you want to see my other projects, go to the link below. I wish you a sunny day!</h2>
        <br>
        <a href="https://lauraciocalau.com">www.lauraciocalau.com</a>
    </div>
    
    {{>footer}}
</div>
</body>

</html>