<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather</title>
    <link rel="icon" href="/images/weather-icon.png">
    <link rel="stylesheet" href="/css/styles.css">
    <script type="text/javascript" src="js/copyright.js"></script>
</head>

<body>
        <div id="lucht">
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
        <div class="ster"></div>
    </div>

        <div class="main-content">
            {{>header}}

            <p>Use this site to get your weather!</p>

            <form>
                <input placeholder="Location">
                <button>Search</button>
            </form>

            <p id="message-1"></p>
            <p id="message-2"></p>
        </div>

    {{>footer}}

    <script src="/js/script.js"></script>
    <script>

let sterren = document.querySelectorAll(".ster");

for(let i = 0; i < sterren.length; i++)
{let randomLeft= 958 *Math.random()+ 2;
    sterren[i].style.left = randomLeft+ "px";
    let randomTop= 398 *Math.random()+ 2;
sterren[i].style.top = randomTop+ "px";
let randomKnipper = 2 *Math.random()+ 0.5;
sterren[i].style.animationDelay = randomKnipper +"s";
}

    </script>
    
</body>

</html>