<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{titlu}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/images/weather-icon.png">
    <link href="/css/style.css" rel="stylesheet">
<script type="text/javascript" src="js/copyright.js"></script>
</head>
<body>
{{>header}}
    <div class="container">
        <p>{{message}}</p>
      <select class="form-select" aria-label="Default select example">
      </select>
      <!--<section class="city-weather">
        <h1 class="city"></h1>
        <h2 class="temp"></h2>
        <img class="icon" src="" alt="icon">
        <h3 class="weather-type"></h3>
        <h5 class="time"></h5>
        <h5 class="wind"></h5>
        <h5 class="humidity"></h5>
        <h5 class="atmp"></h5>

      </section>-->
    </div>
{{>footer}}

<script src="/js/script.js"></script>
 <script src="/js/copyright.js"></script>
</body>
</html