* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    color: white;
    font-family: arial;
    margin: 0 auto;
    padding: 0 16px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /*background-image: url(../images/bg-image.jpg);*/
    background-color: rgb(0, 0, 51);
}

.lucht {
    max-width: 1980px;
    max-height: 1080px;
    position: relative;
    }
    
    .ster{
        width: 4px;
        height: 4px;
        background-color: white;
        border-radius: 4px;
        position: absolute;
        animation: knipper 2s ease-in-out infinite;
        animation-fill-mode: both;
    }
    
    @keyframes knipper{
        0%{
    opacity: 1;
        }40%{
    opacity: 0;
        }60%{
            opacity:0;
        }100%{
            opacity: 1; 
        }
    }
    
img{
    display: block;
    width: fit-content;
}

.main-content {
    position: absolute;
    left: 30%;
    top: 80px;
    flex-grow: 1;
    z-index: 1;
}


.main-content a{
    color:burlywood;
}
.main-content a:hover{
text-decoration: none;
color: white;
background-color:black;
}
.main-content h2{
    max-width: 600px;
    text-align: justify;
    }
/* footer {
    color: #888888;
    border-top: 1px solid #eeeeee;
    margin-top: 16px;
    padding: 16px 0;
} */

/*footer*/

footer {
    
    display: flex;
    justify-content: space-between;
    padding-right: 10px;
    box-shadow: 2px 2px 12px 0px rgb(127, 126, 126);
    padding-top: 16px;
    padding-bottom: 8px;
    padding-right: 15px;
    color: white;
    background-color: black;
}

footer p {
    font-size: 17px;
    padding-bottom: 13px;
}

#copyRight {
    font-family: monoton;
    font-weight: bold;
    padding-top: 7px;
    color: white;
    position: fixed;
    right: 4%;
    top: 94%;
}

@media (max-width:480px) {
    #copyRight {
        font-size: 14px;
        padding-bottom: 8px;
    }
}

header {
    margin-top: 16px;
    margin-bottom: 48px;
}

header a:hover{
    color: white;
    background-color: black;
    padding: 2px;
}

h1 {
    font-size: 64px;
    margin-bottom: 16px;
}

header a {
    color: white;
    margin-right: 16px;
    text-decoration: none;
}

.portrait {
    width: 250px;
}

.error-image{
    background-image: url(../images/error.jpg);
}

.error-message{
    font-size: 50px;
    font-weight:lighter;
    text-align: center;
    padding-top: 50px;
    text-shadow: -1px -1px 0 rgb(245, 246, 247),
    1px -1px 0 rgb(245, 246, 247),
    -1px 1px 0 rgb(245, 246, 247),
    1px 1px 0 rgb(245, 246, 247),
    -2px 0 0 rgb(245, 246, 247),
    2px 0 0 rgb(245, 246, 247),
    0 -2px 0 rgb(245, 246, 247),
    0 2px 0 rgb(245, 246, 247);
} 

input{background-color: #000000;
    color: white;
    padding: 8px;
    border: 1px soid #000000;
    font-size: large;
}

::placeholder{
    color: burlywood;
}

button{
    cursor: pointer;
    border: 1px, solid, burlywood;
    background-color: white;
    color: #000000;
    padding: 8px;
font-weight: bold;
font-size: large;
}

button:hover {
    background-color: #000000;
    color: white;
    font-weight:300;
}

/* loader */

#load1 {
    position: relative;
    display: flex;
   
    left: 15%;
    top: 15%;
}

.point {
    margin: 20px;
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 50%;
    margin-left: -15px;
    animation: loading1 .8s infinite;
}
@keyframes loading1 {
    0%{
    transform: scale(0.2);
    }60%{
    transform: scale(1);
    }90%{
    transform: scale(1);
    }100%{
    transform: scale(0.2);
    }
}

#punct2{
    animation-delay: 0.2s;
}
#punct3{
    animation-delay: 0.4s;
}


p{
    font-size: larger;
    padding-bottom: 10px;
    font-weight: bold;
    line-height: 30px;
}

#message-1{
    padding-top: 12px;
}

#help-body{
    background-image: url(../images/under-construction.jpg);
    background-size: cover;
}


